<nav>
    <ul>
        <li><a href="/plants">Home</a></li>
        <li><a href="/plants/new">Log a new plant</a></li>
        <% if (currentUser) { %>
            <li>Hello, <%=currentUser.username%></li>
            <li><a href="/plants/wishlist">wishlist</a></li>
            <li>
                <form action="/sessions?_method=DELETE" method="POST">
                    <input type="submit" value="Log Out">
                </form>
            </li>
        <%} else {%>
            <li><a href="/users/new">Sign Up</a></li>
            <li><a href="/sessions/new">Log in</a></li>
        <%}%>
    </ul>
</nav>
