<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Log In</title>
    </head>
    <body>
        <%- include ('../partials/nav.ejs') %>
        <div class="log-in">
            <h1>Sign In</h1>
            <form action="/sessions" method="POST">
                <label for="name">User Name:</label>
                <input type="text" name="username" required/>
                <label for="password">Password:</label>
                <input type="password" name="password" />
                <br>
                <input type="submit" value="Submit">
            </form>
        </div>
    </body>
</html>
