<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <meta charset="utf-8">
      <title>New User</title>
  </head>
  <body>
      <nav>
          <ul>
              <li><a href="/plants">Home</a></li>
              <li><a href="/plants/new">Log a new plant</a></li>
          </ul>
      </nav>
    <div class="container">
      <h1>New User</h1>
      <form action="/users" method="POST">
        <label for="name">User Name:</label>
        <input type="text" name="username" required/> <br/>
        <label for="password">Password:</label>
        <input type="password" name="password" />
        <br>
        <input type="submit" value="Submit">
      <form>
    </div>
  </body>
</html>
