<!DOCTYPE html>
<html lang="en" dir="ltr">
    <%- include ('../partials/head.ejs') %>
    <body>
        <%- include ('../partials/nav.ejs') %>
        <%- include ('../partials/header.ejs') %>
        <div class="new-plant">
            <h2>Log a new plant in your collection</h2>
            <form action="/plants" method="POST">
                <label for="commonName">Common Name:</label>
                <input type="text" name="commonName" required /><br/>
                <label for="photo">Image URL:</label>
                <input type="text" name="photo" /><br/>
                <label for="scientificName">Scientific Name:</label>
                <input type="text" name="scientificName" /><br/>
                <label for="light">Light Requirment:</label>
                <input type="text" name="light" /><br/>
                <label for="dateAcquired">Date Received:</label>
                <input type="date" name="dateAcquired" /><br/>
                <label for="lastWatered">last watered:</label>
                <input type="date" name="lastWatered" /><br/>
                <label for="notes">Notes (separate using '/')</label>
                <textarea id="notes" name="notes"> </textarea><br/>
                <!-- the req.body.notes will need to be handled -->
                <input type="submit" value="Submit"/>
            </form>
        </div>
        <%- include ('../partials/footer.ejs') %>
    </body>
</html>
